.full-page{
  background-color: #282828;
  color: white;
  min-height: 100vh;
  display: flex;
  margin: 0;
  padding: 20px;
  flex-direction: column;
}
.title img {
    width: 200px;
    height: 200px;
    border-radius: 20rem;
}
.title img:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;

}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-left: 15vw;
    padding-right: 15vw;
    height: 400px;
}
.title h1{
    padding-right: 30px;
    font-weight: 200;
    font-size: 50px;
}
.divi {
    color: #282828;
}
.title1 h2 {
    padding-top: 10px;
}
.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.socials h2{
    padding: 30px;
}
.technologies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.links {
    width: 300px;
    height: 80px;
    background-color: #191919;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {
    padding: 10px;
    background-color: #191919;
    font-size: 30px;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    color: white;
}

.links a:hover {
    padding: 15px;
    background-color: #353535;
    transition: 0.3s;
    cursor: pointer;
}
.technologies img {
    width: 5%;
    padding: 20px;
}
.tech-logos {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title1-mobile {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.linkedin-link {
  color: white;
}
.linkedin-link:hover {
  color: white;
  text-decoration: none;
}
.back-home {
    color: white;
}
.back-home:hover {
    color: white;
    text-decoration: none;
}
.err404 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.blogs{
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-between;
}
.blog-post {
    background-color: #8e5363;
    padding: 20px;
    display: flex;
    border-radius: 20px;
    margin-bottom: 10px;
}
.blog-link {
    color: white;
}
.blog-link:hover {
    color: white;
    text-decoration: none;
}
.project-card {
    background-color: #8e5363;
    padding: 20px;
    justify-content: space-between;
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;
}
.project-card img {
    width: 40vw;
}
.projects-part {
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}
.project-card h3 {
    color: white;
}
.card-link {
    color: white;
    text-decoration: none;
}
.card-link:hover {
    color: #522929;
}
.bg-git{
    max-height: 500px;
}
